.page-header
  %h1 New <%= singular_table_name %>
.row
  .col-md-12
    = render 'form'
    = link_to 'Cancel', <%= index_helper %>_path, id: :cancel_new_<%= singular_table_name %>_link, class: 'btn btn-sm btn-warning'
